<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="32feet.NET" version="3.5.0.0" targetFramework="net461" />
  <package id="ConsoleTables" version="2.3.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net461" />
  <package id="InTheHand.Pontoon" version="10.2018.3.19" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Network" version="6.1.4.20" targetFramework="net461" />
  <package id="Network.Bluetooth" version="4.0.1803.22" targetFramework="net461" />
  <package id="Serilog" version="2.9.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net461" />
  <package id="Sharp7" version="1.1.63" targetFramework="net461" />
  <package id="SimpleTCP" version="1.0.24" targetFramework="net461" />
  <package id="sqlSugar" version="5.0.0.14" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.113.1" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net461" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net461" />
  <package id="Telepathy" version="1.0.341" targetFramework="net461" />
  <package id="unvell.ReoGrid.dll" version="2.2.0" targetFramework="net461" />
</packages>